.rooms h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: rgb(59, 59, 240);
    padding: 6px 4px;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid black;

}

.rooms .default {
    margin:0;
    padding: 16px 8px;
    background-color: lightgray;
    border-bottom: 1px solid black;

}